#left-menu{
    background-color: #F67E2F;
    padding: 20px;
}

.mat-icon {
    width: 100%;
    min-height: 10%;
}

#left-menu-nav-table{
    height: 30%;
}

table *{
    height: 20px;
}