<div id="left-menu" class="d-none d-sm-block col-sm-2">
  <div id="left-menu-icon">
      <mat-icon svgIcon="lsmd-logo"></mat-icon>
      <div id="left-menu-nav">
        <table id="left-menu-nav-table">
          <tr><td><a routerLink="/home" routerLinkActive="active">Acceuil</a></td></tr>
          <tr><td><a routerLink="/news" routerLinkActive="active">Actualités</a></td></tr>
          <tr><td><a routerLink="/history" routerLinkActive="active">Historique</a></td></tr>
          <tr><td><a routerLink="/contact" routerLinkActive="active">Contact</a></td></tr>
          <tr><td><a routerLink="/partners" routerLinkActive="active">Partenariat</a></td></tr>
        </table>
      </div>
  </div>
</div>